@model VideoLibrary.BusinessEntities.Models.Model.Movie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Movie</h2>

<div class="alert alert-danger">
    <h3>Are you sure you want to delete this?</h3>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Actor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedBy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="padding-left:80px">
            <input type="submit" value="Yes, Delete" class="btn btn-danger" />
            <a href='@Url.Action("Index","Movies")'><input type="button" value="Back To List" class="btn btn-success" /></a>
        </div>
    }
</div>
