@model VideoLibrary.BusinessEntities.Models.Model.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Movie Details</h2>

<div class="row">
    <div class="col-md-6">
        <div>
            <h4>Information</h4>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Duration)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Duration)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Genre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateAdded)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AddedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AddedBy)
                </dd>

            </dl>
        </div>
        <div class="row text-center">
            <a href='@Url.Action("Index","Movies")'><input type="button" value="Back To List" class="btn btn-danger" /></a>
            <a href='@Url.Action("Edit", "Movies", new { id = Model.Id })'><input type="button" value="Edit Details" class="btn btn-success" /></a>
            <a href='@Url.Action("AddActorOnMovie", "MovieActor", new { id = Model.Id })'><input type="button" value="Add an Actor" class="btn btn-primary" /></a>

        </div>
    </div>
    <div class="col-md-6" style="padding-top:10px">
        <h4></h4>
        @Html.Action("Index", "MovieActor", new { id = Model.Id })
    </div>
</div>
