
@model IEnumerable<VideoLibrary.Models.ViewModels.ClientListViewModel>
@{
    ViewBag.Title = "Clients";
}
<h2>Clients List</h2>
<p>
    <a href="@Url.RouteUrl(routeValues: new { action = "create", controller = "clients" })" class="btn btn-default"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Add clients</a>
</p>

<div class="panel panel-default">
    <div class="panel-heading">
        @using (Html.BeginForm("index", "clients", FormMethod.Get))
        {
            <div>
                <div class="form-group">
                    <label class="control-label" for="exampleInputEmail">Search</label>
                    <input type="search" name="search" class="form-control" value=@ViewData["Search"] placeholder="Enter search text">
                </div>
                <button type="submit" value="search" class="btn btn-default"><i class="fa fa-search"></i> Search</button>
            </div>
        }
    </div>
    <table class="table table-condensed table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "edit", new { id = item.ClientId }) |
                        @Html.ActionLink("Details", "edit", new { id = item.ClientId }) |
                        @Html.ActionLink("Delete", "delete", new { id = item.ClientId })
                    </td>
                </tr>
            }
        }
    </table>
</div>
