@model VideoLibrary.Models.ViewModels.ActorViewModel
@{
    ViewBag.Title = "Delete Actor";
}
<h2>Delete Actor</h2>
<hr />
@using (Html.BeginForm("delete", "actors", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ActorId)
    @Html.HiddenFor(model => model.Fullname)
    @Html.HiddenFor(model => model.DateOfBirth)
    @Html.HiddenFor(model => model.Genre)
    @Html.HiddenFor(model => model.Gender)

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Are you sure you want to delete @Model.Fullname?</strong>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <a href="@Url.RouteUrl(new { action = "index", controller = "actors" })" class="btn btn-default"><i class="fa fa-chevron-circle-left">&nbsp;&nbsp;</i>Back to List</a>
                    <input type="submit" class="btn btn-danger" value="Yes" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Fullname, new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Gender, new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Genre, new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.Genre, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
                </div>
            </div>
        </div>
    </div>
}
