@model IEnumerable<VideoLibrary.Models.ViewModels.ActorViewModel>
@{
    ViewBag.Title = "Actors";
}
<h2>Actors List</h2>
<p>
    <a href="@Url.RouteUrl(routeValues: new { action = "add", controller = "actors" })" class="btn btn-default"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Add actor</a>
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        @using (Html.BeginForm("index", "actors", FormMethod.Get))
        {
            <div>
                <div class="form-group">
                    <label class="control-label" for="exampleInputEmail">Search</label>
                    <input type="text" name="search" class="form-control" placeholder="Enter search text">
                </div>
                <button type="submit" name="btnAction" value="search" class="btn btn-default"><i class="fa fa-search"></i> Search</button>
            </div>
        }
    </div>
    <table class="table table-condensed table-striped table-bordered table-responsive">
        <tr>
            <th class="col-sm-3">
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th class="col-sm-3">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th class="col-sm-3">
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th class="col-sm-2"></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="col-sm-3">
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td class="col-sm-1">
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td class="col-sm-3">
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td class="col-sm-2">
                        @Html.ActionLink("Edit", "details", new { id = item.ActorId }) |
                        @Html.ActionLink("Details", "details", new { id = item.ActorId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ActorId })
                    </td>
                </tr>
            }
        }
    </table>
</div>
