<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sineema</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/datatables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script language="javascript">

        $(document).ready(function () {
            $("#ListTable").DataTable();
            $(".modal-link").on('click', function () {
                debugger;
                // Send an AJAX call to the server endpoint pointed by the href attribute
                // of the anchor and inject the results of this endpoint execution inside a 
                // DOM element with id="result"
                $('#myModal').load(this.href);

                // By returning false you are canceling the default action of the 
                // anchor click and prevent the browser to redirect to the url pointed
                // by the href property. This would leave enough time for your AJAX request
                // to execute and return the results.
                return false;
            });

        }
    );

        function fetchPartial() {
            debugger;
            
            e.preventDefault();

            $("#myModal").remove();

            $.get($(this).attr("href"), function (data) {
                $('<div id="myModal" class="modal fade"><div class="modal-dialog" role="document">' +
                data + '</div></div>').modal();
            });
        }

    </script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sineema", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                    <li>@Html.ActionLink("Actors", "Index", "Actors")</li>
                    <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
